
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border_radius_md {
  border-radius: 12px;
}

@mixin shadow_box {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}