
$primary-purple: #6c5ce7;
$light-purple: #a29bfe;
$bg-light: #f5f6fa; 
$text-dark: #2d3436;
$text-muted: #5b5c5d;
$success-green: #00b894;
$discount-red: red;

$shadow-sm: 0 4px 15px rgba(0, 0, 0, 0.05);
$shadow-lg: 0 12px 30px rgba(0, 0, 0, 0.12);
$radius: 12px;