@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *; 
@use "../../styles/shared" as *;

.summarySection {
  flex: 1;
  width: 100%;
}

.summaryCard {
  background: $white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 4px;
  overflow: hidden;
  
  h3 {
    background-color: #55c5d0;
    color: $white;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
  }

  ul {
    padding: 25px 25px 10px 25px;
    list-style: none;
    margin: 0;
    
    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;
      color: #95a5a6; 
      font-size: 0.95rem;
      font-weight: 500;
      line-height: 1.4;
      
      .icon {
        margin-right: 15px;
        display: flex;
        align-items: flex-start;
        margin-top: 2px;
        width: 24px;
        
        svg {
            fill: #bdc3c7; 
            width: 20px;
            height: 20px;
        }
      }
    }
  }

  .total {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    margin-top: 10px;
    
    span:first-child {
        color: #34495e; 
        font-weight: 800;
        font-size: 1.1rem;
    }
    
    .price {
        color: #55c5d0; 
        font-size: 2rem;
        font-weight: 800;
    }
  }
}