.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px 0;
  width: 100%;
}

.noResults {
  text-align: center;
  margin-top: 3rem;
  color: #666;

  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}