@import '../../styles/variables';
@import '../../styles/mixins';

.status_layout {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light_gray;
  height: 100vh;
}

.header_blue {
  background-color: $primary-blue;
  color: white;
  width: 90%;
  max-width: 450px;
  padding: 12px; 
  text-align: center;
  margin-bottom: 30px;
  border-radius: 8px;
}

.loader_text {
  margin-top: 25px;
  color: #666;
  font-style: italic; 
}