$primary-color: #55c5d0;
$secondary-color: #6da7ab;
$text-color: #555;
$light-gray: #f7f7f7;
$border-color: #ddd;
$white: #ffffff;
$error-color: #e74c3c;
$success-color: #2ecc71;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-height: 60px;
$mobile-breakpoint: 768px;