@use "../abstracts/variables" as *;

.feature-grid {
  display: grid;
  background: $color-white;
  grid-template-columns: repeat(4, 1fr);
  border-radius: $radius-xl;
  padding: 1.5rem;
}

.course-grid {
  max-width: $container-max;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.stats-container {
  max-width: $container-max;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
  color: $color-white;
}
