@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header {
  background: $color-white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
}

nav {
  @include container;
  height: 72px;

  display: flex;
  align-items: center;
}

.brand {
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 800;
  color: $color-text;

  span {
    color: $color-primary;
  }
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  color: $color-text;
  transition: color 0.2s ease;
}
