.history-card{
    @include push-apart;
    border: 1px solid $black-border;
    border-radius: 8px;
    padding: 10px 12px;
    margin-bottom: 10px;
    background-color: $white;

    .card-details{
        display: flex;
        flex-direction: column;
    }
    .card-action{
        font-weight: 600;
        font-size: 0.9rem;
        text-transform: uppercase;

        &.buy{
            color: $green-up;
        }
        &.sell{
            color: $red-down;
        }
    }
}

.empty{
    text-align: center;
    color: #888;
    font-size: 0.9rem;
    margin-top: 20px;
    font-style: italic;
}

