.dashboard-container{
    display: flex;
    gap: $spacing;
    max-width: $max-width;
    margin: 0 auto;
    height: 600px;
    @include mobile-view{
        flex-direction: column;
        height: auto;
    }
}

.main_content{
    flex:3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}