.header{
    background-color: $blue-primary;
    color: $white;
    padding: 15px $spacing;
    border: 1px solid $black-border;
    margin-bottom: $spacing;

    .head_title{
        font-weight: 400;
        font-size: 1.5rem;
        margin: 0;
    }
}