@use "sass:color";
@use '../../styles/variables' as *;

.button {
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s;
  border: 1px solid transparent;
  &:disabled { 
    opacity: 0.6; 
    cursor: not-allowed;
 }
}
.primary {
     background-color: $primary-color;
      color: $white; 
    }
.outline {
  background-color: transparent;
   border: 1px solid $border-color;
    color: $text-color;
  &:hover, &.active { 
    border-color: $primary-color;
     color: $primary-color; 
     background-color: rgba($primary-color, 0.05);
     }
}
.fullWidth { width: 100%; }