@use "../abstracts/variables" as *;

.btn {
  padding: 0.9rem 1.5rem;
  border-radius: $radius-md;
  font-weight: 800;
  font-size: 1rem;
}

.btn.primary {
  background: $color-primary;
  color: $color-white;
  border: 2px solid $color-primary;
}

.btn.outline {
  background: transparent;
  color: $color-primary;
  border: 2px solid $color-primary;
}

.btn-submit {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: $radius-md;
  background: $color-primary;
  color: $color-white;
  font-size: 1rem;
}
