@use "sass:color";
@use '../../styles/variables' as *;

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: $light-gray;
  text-align: center;

  h1 {
    color: $error-color;
    font-size: 1.5rem;
    font-weight: bold;
    background: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border: 1px solid color.adjust($error-color, $lightness: 30%);
  }
}